body{
    background-color: rgb(238,238,238);
}
#main{
   display: flex;
   flex-direction: column;
   /* gap:40px; */
}
#title{
    text-align: center;
}

#img-tribute{
   
    text-align: center;
    background-color: rgb(255,255,255);
}