body{
    background-color: rgb(238,238,238);
}
#main{
   display: flex;
   flex-direction: column;
   /* gap:40px; */
}
#title{
    text-align: center;
    border: 1px solid blue;
}

#img-tribute{
    border: 1px solid rgb(255, 0, 76);
    text-align: center;
    background-color: rgb(255,255,255);
}